*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-end;
}
header{
    padding-top: 13px;
    position: fixed;
    width: 100%;
    height: 50px ;
}
.secCon{
    max-width: 785px;
}
nav{
    height: 100%;
    background-color: white;
    
}
nav a{
    text-decoration: none;
    color: black;
}
nav img{
    margin-left: 601px;
}
#slesh{
    margin-left: 10px;
    margin-right: 10px;
}
#eng{
    font-family: 'Tourney';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    margin-right: 50px;
}
#doc{
    font-family: 'Staatliches';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
}
.col1{
    
    padding-top: 200px;
}

aside{
    position: sticky;
    top: 100px;
}
aside h2 a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #BDBDBD;
}
.col2{
    margin-left: 170px;
    display: flex;
    flex-direction: column;
    position: relative;
}
#big-picture{
    position: fixed;
    z-index: 1;
}
main{
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
}
.fromHead{
    padding-top: 133px;
}
h2{
    font-family: 'Francois One';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 48px;
margin-bottom: 40px;
}
main h2>span{
    font-family: 'Farro';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
vertical-align: text-top;
}

.line{
    width: 100px;
    height: 8px;
    background-color: black;
    margin-bottom: 20px;
}
.PtSans{
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 48px;
}
.underline{
    text-decoration: underline;
}
section{
    margin-top: 70px;
}
#ital{
    font-style: italic;
}
.text{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}
.text p{
    margin-top: 40px;
}
.bcg-text{
    background-color: rgb(202, 193, 193);
}