*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100%;
    scroll-behavior: smooth;
}

.container{
    width: 90%;
    overflow-x: hidden;
    max-width: 1170px;
    margin: 0 auto;
    
}
// .container-aside{
//     max-width: 220px;
//     margin: 0 auto;
// }
ul li{
    list-style: none;
}

.flex-row-align{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.marg-left15{
    padding-left: 15px;
}
.marg-left20{
    margin-left: 20px;
}

.just-center{
    display: flex;
    justify-content: center;
}