body {
  font-family: sans-serif;
  background: linear-gradient(purple, black);
  color: white;
 
}
.HTnum{
  padding: 5px 0;
  width: 100%;
  height: 30px;
  border: 5px solid #b951ae;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
 
}
.Num{
  padding: 5px 5px;
  width: 220px;
  border-right: 5px solid #912c98;
  border-left: 5px solid #912c98;
  border-radius: 10px ;
  font-size: 10px;
  font-weight: bold;
  background-color: #912c98;
}
.SecNum{
  display: none;
}
.FirstPart{
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}
.wrap {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
}
.front {
  background-color: #fff;
}
.back {
  background-color: #79b8c4;
  transform: rotateY(180deg);
}
.card:hover .front {transform: rotateY(180deg);}
.card:hover .back {transform: rotateY(360deg);}


@media screen and (max-width: 800px) {
.FirstPart{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.wrap{
  padding: 15px;
  margin: 12px;
}
.HTnum{
  border: none;
  flex-direction: column;
}
.Num{
  background-color: #BBDEFB;
  border-color: #BBDEFB ;
  margin-top: 250px;
  position: relative;
  top: 400px;
  
  flex-direction: column;
}
.MainPart{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
}
