*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_border{
    border-bottom: 1px solid #BDBDBD;
}
.body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.container{
    margin: 0 auto;
    max-width: 1170px;
}
.container_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links_decor{
    text-decoration: none;
    color: #3C3C3C;
}
.nav--links_font{
    font-style: normal;
font-weight: 600;
font-size: 20px;
}
.nav--links_spacing{
    margin-right: 30px;
}
.nav--links_hover:hover{
color: #18B5DC;
}
.butn_border{
    border: 1px solid #3C3C3C;
}
.butn_spacing{
    padding: 10px 19.5px;
}
.butn_hover:hover{
background-color: #18B5DC;
border-color: #18B5DC;
}
.butn_hover:hover .butn--link{
    color: white;
}

.butn--link_font{
    font-weight: 600;
font-size: 18px;
line-height: 22px;
}
.main_spacing{
 padding-top: 150px;   
 padding-bottom: 150px;
}
.text--h1_font{
    font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 41px;
}
.text--h1_color{
    color: #3C3C3C;
}
.text--h1_spacing{
    margin-bottom: 20px;
}
.text--h1_center{
    text-align: center;
}
.text--line_spacing{
    margin-bottom: 40px;
}
.text--line_center{
    margin-left:auto;
    margin-right: auto;
}
.text--line_border{
    border-top:4px solid #DDDBDB;
    max-width: 45px;
}
.lorem--p_widht{
    max-height: 570px;
}
.lorem--p_font{
    font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
}
.lorem--p_center{
    text-align: center;
}

/* checl */
.person--wrapper_size{
    width: 100%;
    height: 100%;
}
.person--wrapper_flex{
    display: flex;
  }
  .wrapper--card{
    margin-bottom: 20px;
}
  .wrapper--card_size{
    width: 270px;
    height: 270px;
  }
  .wrapper--card_spacing{
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .card {
    position: relative;
    perspective: 1000px;

  }
  .card--front_transform,
  .card--back_transform{
    position: absolute;
    
    
    transition: 1s;
    backface-visibility: hidden;
  }
  .card--front_flex,
  .card--back_flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card--front_size,
  .card--back_size{
    width: 270px;
    height: 270px;
  }
  
  .card--back_decor {
    background-color: #18B5DC;
    transform: rotateY(180deg);
  }
  .card:hover .front {transform: rotateY(180deg);}
  .card:hover .back {transform: rotateY(360deg);}

.back--icons_flex{
    display: flex;
    flex-direction: row;
}
.icons_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons_spacing
{
    margin-left: 2px;
    margin-right: 2px;
}
.icons_bcg{
background-color: #5DCBE6;
}
.icons_bcg:hover{
    background-color: white;
}
.icons_size{
    height: 42px;
    width: 42px;
}
.twit--blue,
.Fb--blue,
.Inst--blue,
.link--blue,
.tg--blue{
    display: none;
}

.twit:hover .twit--white {
    display: none;
}
.twit:hover .twit--blue{
display: block;
}
.face:hover .Fb--white {
    display: none;
}
.face:hover .Fb--blue{
display: block;
}
.inst:hover .Inst--white {
    display: none;
}
.inst:hover .Inst--blue {
    display: block;
}
.twit:hover .twit--white {
    display: none;
}
.twit:hover .twit--blue{
display: block;
}


/* footer */
.fott-Inst--white,
.fott-link--white,
.fott-tg--white,
.fott-Fb--white,
.fott-twit--white{
    display: none;
}

.fott-twit:hover .fott-twit--white{
    display: block;
}
.fott-twit:hover .fott-twit--blue{
    display: none;
}
.fott-face:hover .fott-Fb--white{
    display: block;
}
.fott-face:hover .fott-Fb--blue{
    display: none;
}
.fott-inst:hover .fott-Inst--white{
    display: block;
}
.fott-inst:hover .fott-Inst--blue{
    display: none;
}
.fott-link:hover .fott-link--white{
    display: block;
}
.fott-link:hover .fott-link--blue{
    display: none;
}
.fott-tg:hover .fott-tg--white{
    display: block;
}
.fott-tg:hover .fott-tg--blue{
    display: none;
}
.container--name_flex{
    display: flex;
    justify-content: space-around;
}
.person--FL-name_font{
    font-style: normal;
    font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #282528;
}

.person--work-position_font{
    font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
color: #646464;
}
.footer_spacing{
padding-top: 40px;
padding-bottom: 40px;
}
.footer--container_flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container--nav_spacing{
    margin-bottom: 28px;
    margin-top: 28px;
}
.footer--nav--links_font{
    font-weight: 600;
font-size: 18px;
line-height: 22px;
}

.footer--icons_flex{
    display: flex;
}
.footer--icons_spacing{
    margin-left: 5px;
    margin-right: 5px;
}
.footer--icons_bcg{
    background-color: rgb(252, 252, 252);
}
.footer--icons_bcg:hover{
    background-color: #18B5DC;
}
.footer--icons_border{
    border: 1px solid #18B5DC;
}