*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

body{
    // overflow: hidden;
    scroll-behavior: smooth;
}
h1{
    text-transform: uppercase;
}


