@mixin maxWidth($width) {
    @media screen and (max-width: $width){
        @content;
    }
}
@mixin transition($property...) {
    transition-duration: .3s;
    transition-property: $property;
    transition-timing-function: ease;
}