// header












@media screen and (max-width:$middle-desktop) {
    .main {
        .main {
            &--why {
                .why {
                    &--container {
                        margin-bottom: 20px;

                        .container {
                            &--text {
                                .text {

                                    &--desc {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &--steps {
                .steps {
                    &--line {
                        margin-left: 21.7%;
                        margin-top: 60px;
                    }

                    &--container {
                        padding-top: 81px;
                        padding-bottom: 44px;

                        .container {
                            &--svg {
                                svg+svg {
                                    margin-left: 252px;
                                }
                            }
                        }
                    }
                }

            }

            &--booknow {
                .booknow {
                    &--container {
                        margin-left: auto;

                        .container {
                            &--card {
                                max-width: 558px;
                            }
                        }
                    }
                }
            }

            &--booknowSec {
                .booknowSec {
                    &--container {
                        margin-left: auto;

                        .container {
                            &--card {
                                max-width: 558px;
                            }
                        }
                    }
                }
            }

            &--tourist {
                .tourist {
                    &--container {
                        .container {
                            &--content {
                                .content {
                                    &--review {
                                        .review {
                                            &--text {
                                                height: 308px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width:$small-desktop) {
    .main {
        &--why {
            .why {
                &--container {
                    margin-bottom: 90px;

                    .container {
                        &--images {
                            margin-left: 24px;
                            margin-right: 0;

                            .images {
                                &--img2 {
                                    margin-left: 36px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &--steps {
            .steps {
                &--line {
                    margin-left: 19% !important;
                    margin-top: 60px !important;
                }
            }

            .container {
                &--svg {
                    svg+svg {
                        margin-left: 192px !important;
                    }
                }
            }
        }

        &--booknow {
            .booknow {
                &--container {

                    .container {
                        &--card {
                            width: 550px;
                        }
                    }
                }
            }
        }

        &--booknowSec {
            .booknowSec {
                &--container {

                    .container {
                        &--card {
                            width: 550px;
                        }
                    }
                }
            }
        }

        &--tourist {
            .tourist {
                &--container {
                    .container {
                        &--content {
                            .content {
                                &--review {
                                    .review {
                                        &--text {
                                            height: 336px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:$tablet) {
    .header {
        .navigation {
            &--container {
                .container {
                    &--wrapper {
                        display: flex;
                        flex-direction: column;

                        .wrapper {
                            &--logo {
                                margin-bottom: 32px;
                            }
                        }
                    }

                }
            }
        }
    }

    .main {
        &--why {
            .why {
                &--container {
                    display: flex;
                    flex-direction: column-reverse;
                    padding-top: 60px;
                    margin-bottom: 100px;

                    .container {
                        &--images {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;
                            margin-bottom: 32px;
                            margin-right: 18px;

                            .images {
                                &--img2 {
                                    margin-top: 0;
                                }
                            }
                        }

                        &--text {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            max-width: 720px;
                            margin-bottom: 24px;

                            .text {
                                &--desc {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }

        &--steps {
            .steps {
                &--line {
                    display: none;
                }

                &--container {
                    padding-top: 60px;
                    padding-bottom: 60px;

                    .container {
                        &--svg {
                            svg {
                                margin-left: 0;
                                margin-bottom: 103px;
                            }

                            .svg {
                                &--img {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }
                            }

                        }
                    }
                }
            }
        }

        &--booknow {
            .booknow {
                &--container {
                    padding: 120px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .container {
                        &--card {
                            height: 348px;
                        }
                    }
                }
            }
        }

        &--booknowSec {
            .booknowSec {
                &--container {
                    padding: 120px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .container {
                        &--card {}
                    }
                }
            }
        }

        &--tourist {
            .tourist {
                &--container {
                    .container {
                        &--content {
                            display: flex;
                            flex-direction: column;

                            .content {
                                &--review {
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 240px;

                                    .review {
                                        &--text {
                                            .text {
                                                height: 338px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media screen and(max-width:$mobile) {
    .header {
        &--container {
            .container {
                &--data {
                    .data {
                        &--search {
                            max-width: 540px;
                        }
                    }
                }
            }
        }

        .navigation {
            &--container {
                .container {
                    &--wrapper {
                        .wrapper {
                            &--nav {
                                display: none;
                            }

                            &--logo {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .main {
        --why {
            .why {
                &--container {
                    .container {
                        &--text{
                            .text{
                                &--title{}
                            }
                        }
                        &--images {
                            margin-bottom: 37px;
                            .images {
                                &--img2 {
                                }
                            }
                        }

                        &--text {

                            .text {
                                &--desc {
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}