// header








.main {
    &--why {
        .why {
            &--bcg {
                position: absolute;
                z-index: -1;
            }

            &--container {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-top: 120px;
                margin-bottom: 119px;

                .container {
                    &--text {
                        display: flex;
                        flex-direction: column;
                        max-width: 648px;

                        .text {
                            &--title {
                                font-family: 'Aleo';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 36px;
                                line-height: 40px;
                                text-transform: capitalize;
                                color: white;
                                margin-bottom: 24px;
                            }

                            &--desc {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 28px;
                                letter-spacing: 0.1em;
                                color: #FFFFFF;
                                margin-bottom: 32px;
                            }

                            &--butn {
                                .butn {
                                    &--link {
                                        padding: 20px 32px;
                                        background-color: #5373FD;
                                        display: inline-flex;
                                        font-family: 'Aleo';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 20px;
                                        text-align: center;
                                        letter-spacing: 0.07em;
                                        text-transform: uppercase;
                                        color: #FFFFFF;
                                        transition: all .5s ease;

                                        &:hover {
                                            background-color: rgb(255 217 217);
                                            color: #5373FD;

                                        }
                                    }
                                }

                            }
                        }
                    }

                    &--images {
                        display: flex;
                        flex-direction: column;
                        margin-right: 112px;
                        margin-left: 121px;

                        .images {
                            &--img2 {
                                margin-left: 74px;
                                margin-top: 16px;
                            }
                        }
                    }
                }
            }

        }
    }

    &--steps {
        background-color: #333333;
        position: relative;

        .steps {
            &--line {
                position: absolute;
                z-index: 1;
                margin-left: 26.8%;
                margin-top: 40px;
            }

            &--container {
                padding-top: 107px;
                padding-bottom: 57px;

                .container {
                    &--svg {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        svg+svg {
                            margin-left: 351px;

                        }

                        svg {
                            position: relative;
                            z-index: 2;
                        }
                    }

                }
            }
        }
    }

    &--booknow {
        position: relative;

        img {
            position: absolute;
            z-index: -1;
        }

        .booknow {
            &--container {
                padding: 220px 0 120px 0;
                margin-left: 300px;

                .container {
                    &--card {
                        max-width: 648px;
                        padding: 44px 32px;
                        background: rgba(35, 35, 35, 0.9);

                        .card {
                            &--title {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 20px;
                                line-height: 28px;
                                letter-spacing: 0.1em;
                                color: #FFFFFF;
                            }

                            &--subtitle {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 28px;
                                text-transform: uppercase;
                                color: #FFFFFF;
                                margin: 16px 0;

                            }

                            &--desc {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 28px;
                                letter-spacing: 0.1em;
                                color: #FFFFFF;
                                margin-bottom: 24px;
                            }

                            &--butn {
                                .butn {
                                    &--link {
                                        font-family: 'Aleo';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 20px;
                                        letter-spacing: 0.07em;
                                        text-transform: uppercase;
                                        color: #FFFFFF;
                                        display: inline-flex;
                                        background-color: #5373FD;
                                        padding: 20px 56px;
                                        transition: all .5s ease;

                                        &:hover {
                                            background-color: rgb(255 217 217);
                                            color: #5373FD;

                                        }

                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    &--booknowSec {
        position: relative;

        img {
            position: absolute;
            z-index: -1;
        }

        .booknowSec {
            &--container {
                padding: 220px 0 120px 0;
                display: flex;
                justify-content: flex-end;

                .container {
                    &--card {
                        max-width: 649px;
                        padding: 44px 32px;
                        background: rgba(35, 35, 35, 0.9);

                        .card {
                            &--title {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 20px;
                                line-height: 28px;
                                letter-spacing: 0.1em;
                                color: #FFFFFF;
                            }

                            &--subtitle {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 28px;
                                text-transform: uppercase;
                                color: #FFFFFF;
                                margin: 16px 0;

                            }

                            &--desc {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 28px;
                                letter-spacing: 0.1em;
                                color: #FFFFFF;
                                margin-bottom: 24px;
                            }

                            &--butn {
                                .butn {
                                    &--link {
                                        font-family: 'Aleo';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 20px;
                                        letter-spacing: 0.07em;
                                        text-transform: uppercase;
                                        color: #FFFFFF;
                                        display: inline-flex;
                                        background-color: #5373FD;
                                        padding: 20px 56px;
                                        transition: all .5s ease;

                                        &:hover {
                                            background-color: rgb(255 217 217);
                                            color: #5373FD;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    &--tourist {
        position: relative;
        margin-bottom: 80px;

        .tourist {
            &--bc {
                position: absolute;
                z-index: -1;
            }

            &--container {
                padding-top: 120px;

                .container {
                    &--content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .content {
                            &--title {
                                font-family: 'Aleo';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 36px;
                                line-height: 40px;
                                text-align: center;
                                text-transform: capitalize;
                                color: #FFFFFF;
                                margin-bottom: 60px;
                            }

                            &--review {
                                display: flex;
                                flex-direction: row;
                                height: 280px;

                                .review {
                                    &--text {
                                        max-width: 885px;
                                        padding: 45px 60px;
                                        background-color: #333333;

                                        .text {
                                            &--title {
                                                font-family: 'Josefin Sans';
                                                font-style: normal;
                                                font-weight: 400;
                                                font-size: 20px;
                                                line-height: 28px;
                                                text-transform: uppercase;
                                                color: #FFFFFF;
                                                margin-bottom: 10px;
                                            }

                                            &--desc {
                                                font-family: 'Josefin Sans';
                                                font-style: normal;
                                                font-weight: 300;
                                                font-size: 16px;
                                                line-height: 28px;
                                                letter-spacing: 0.1em;
                                                color: #FFFFFF;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    position: relative;
    top: 100px;
    background-color: #000000;

    svg {
        fill: white;
    }

    &--container {
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container {
            &--title {
                margin-bottom: 8px;
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;

                -webkit-mask-image: linear-gradient(-75deg, rgba(255, 0, 0, 0.6) 30%, rgb(255, 0, 0) 50%, rgba(255, 0, 0, 0.6) 70%);
                -webkit-mask-size: 200%;
                animation: wave 2s infinite;


            }

            &--subtitle {
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2em;
                color: #FFFFFF;
                margin-bottom: 20px;
            }

            &--svg {
                svg {
                    transition: all .5s ease;

                }

                svg+svg {
                    margin-left: 32px;
                }

                svg:hover {
                    fill: #5373FD;
                }
            }
        }
    }
}

@media screen and (max-width:$middle-desktop) {
    .main {
        .main {
            &--why {
                .why {
                    &--container {
                        margin-bottom: 20px;

                        .container {
                            &--text {
                                .text {

                                    &--desc {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &--steps {
                .steps {
                    &--line {
                        margin-left: 21.7%;
                        margin-top: 60px;
                    }

                    &--container {
                        padding-top: 81px;
                        padding-bottom: 44px;

                        .container {
                            &--svg {
                                svg+svg {
                                    margin-left: 252px;
                                }
                            }
                        }
                    }
                }

            }

            &--booknow {
                .booknow {
                    &--container {
                        margin-left: auto;

                        .container {
                            &--card {
                                max-width: 558px;
                            }
                        }
                    }
                }
            }

            &--booknowSec {
                .booknowSec {
                    &--container {
                        margin-left: auto;

                        .container {
                            &--card {
                                max-width: 558px;
                            }
                        }
                    }
                }
            }

            &--tourist {
                .tourist {
                    &--container {
                        .container {
                            &--content {
                                .content {
                                    &--review {
                                        .review {
                                            &--text {
                                                height: 308px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width:$small-desktop) {
    .main {
        &--why {
            .why {
                &--container {
                    margin-bottom: 90px;

                    .container {
                        &--images {
                            margin-left: 24px;
                            margin-right: 0;

                            .images {
                                &--img2 {
                                    margin-left: 36px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &--steps {
            .steps {
                &--line {
                    margin-left: 19% !important;
                    margin-top: 60px !important;
                }
            }

            .container {
                &--svg {
                    svg+svg {
                        margin-left: 192px !important;
                    }
                }
            }
        }

        &--booknow {
            .booknow {
                &--container {

                    .container {
                        &--card {
                            width: 550px;
                        }
                    }
                }
            }
        }

        &--booknowSec {
            .booknowSec {
                &--container {

                    .container {
                        &--card {
                            width: 550px;
                        }
                    }
                }
            }
        }

        &--tourist {
            .tourist {
                &--container {
                    .container {
                        &--content {
                            .content {
                                &--review {
                                    .review {
                                        &--text {
                                            height: 336px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:$tablet) {
    .header {
        .navigation {
            &--container {
                .container {
                    &--wrapper {
                        display: flex;
                        flex-direction: column;

                        .wrapper {
                            &--logo {
                                margin-bottom: 32px;
                            }
                        }
                    }

                }
            }
        }
    }

    .main {
        &--why {
            .why {
                &--container {
                    display: flex;
                    flex-direction: column-reverse;
                    padding-top: 60px;
                    margin-bottom: 100px;

                    .container {
                        &--images {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;
                            margin-bottom: 32px;
                            margin-right: 18px;

                            .images {
                                &--img2 {
                                    margin-top: 0;
                                }
                            }
                        }

                        &--text {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            max-width: 720px;
                            margin-bottom: 24px;

                            .text {
                                &--desc {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }

        &--steps {
            .steps {
                &--line {
                    display: none;
                }

                &--container {
                    padding-top: 60px;
                    padding-bottom: 60px;

                    .container {
                        &--svg {
                            svg {
                                margin-left: 0;
                                margin-bottom: 103px;
                            }

                            .svg {
                                &--img {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }
                            }

                        }
                    }
                }
            }
        }

        &--booknow {
            .booknow {
                &--container {
                    padding: 120px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .container {
                        &--card {
                            height: 348px;
                        }
                    }
                }
            }
        }

        &--booknowSec {
            .booknowSec {
                &--container {
                    padding: 120px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .container {
                        &--card {}
                    }
                }
            }
        }

        &--tourist {
            .tourist {
                &--container {
                    .container {
                        &--content {
                            display: flex;
                            flex-direction: column;

                            .content {
                                &--review {
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 240px;

                                    .review {
                                        &--text {
                                            .text {
                                                height: 338px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media screen and(max-width:$mobile) {
    .header {
        &--container {
            .container {
                &--data {
                    .data {
                        &--search {
                            max-width: 540px;
                        }
                    }
                }
            }
        }

        .navigation {
            &--container {
                .container {
                    &--wrapper {
                        .wrapper {
                            &--nav {
                                display: none;
                            }

                            &--logo {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .main {
        --why {
            .why {
                &--container {
                    .container {
                        &--text{
                            .text{
                                &--title{}
                            }
                        }
                        &--images {
                            margin-bottom: 37px;
                            .images {
                                &--img2 {
                                }
                            }
                        }

                        &--text {

                            .text {
                                &--desc {
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}