*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container, .navigation--container {
  max-width: 1320px;
  width: 90%;
  margin: 0 auto;
}

.d-flex-center-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

@media screen and (max-width: 1360px) {
  .container, .navigation--container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1024px) {
  .container, .navigation--container {
    max-width: 960px;
  }
}
@media screen and (max-width: 768px) {
  .container, .navigation--container {
    max-width: 720px;
  }
}
@media screen and (max-width: 576px) {
  .container, .navigation--container {
    max-width: 540px;
  }
}
@-webkit-keyframes wave {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
.header--bcg {
  position: absolute;
  z-index: -1;
}
.header--container {
  padding-top: 295px;
  margin-bottom: 120px;
}
.header--container .container--data .data--heading {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.header--container .container--data .data--subtitle {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  color: #FFFFFF;
  margin-top: 8px;
  margin-bottom: 48px;
}
.header--container .container--data .data--search {
  padding: 4px 5px;
  background-color: white;
  margin-bottom: 211px;
  width: 647px;
  display: flex;
  justify-content: space-between;
}
.header--container .container--data .data--search input {
  padding: 0 36px 0 31px;
  width: 100%;
  border: none;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
}
.header--container .container--data .data--search button {
  display: inline-flex;
  padding: 16px 24px;
  background-color: #5373FD;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.header--container .container--data .data--search button svg {
  margin-right: 12px;
}
.header--container .container--data .data--scroll {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
}
.header--container .container--data .data--scroll a {
  color: #FFFFFF;
}
.header--container .container--data .data--scroll p {
  margin-bottom: 4px;
}

.navigation {
  position: relative;
  background-color: #5373FD;
  padding: 32px 0;
}
.navigation input {
  display: none;
}
.navigation--container .container--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation--container .container--wrapper .wrapper--logo {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.navigation--container .container--wrapper .wrapper--nav .nav--list {
  list-style: none;
}
.navigation--container .container--wrapper .wrapper--nav .nav--list li + li {
  margin-left: 40px;
}
.navigation--container .container--wrapper .wrapper--nav .nav--list .list--el {
  display: inline-block;
}
.navigation--container .container--wrapper .wrapper--nav .nav--list .list--el .el--link {
  display: inline-block;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 1s ease;
}
.navigation--container .container--wrapper .wrapper--nav .nav--list .list--el .el--link:hover {
  color: rgb(255, 217, 217);
  transform: scale(1.1);
}

.header--burger {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  display: block;
  width: 20px;
  height: 14px;
  background: transparent;
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 0;
}

.main--why .why--bcg {
  position: absolute;
  z-index: -1;
}
.main--why .why--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 120px;
  margin-bottom: 119px;
}
.main--why .why--container .container--text {
  display: flex;
  flex-direction: column;
  max-width: 648px;
}
.main--why .why--container .container--text .text--title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: white;
  margin-bottom: 24px;
}
.main--why .why--container .container--text .text--desc {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.main--why .why--container .container--text .text--butn .butn--link {
  padding: 20px 32px;
  background-color: #5373FD;
  display: inline-flex;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.main--why .why--container .container--text .text--butn .butn--link:hover {
  background-color: rgb(255, 217, 217);
  color: #5373FD;
}
.main--why .why--container .container--images {
  display: flex;
  flex-direction: column;
  margin-right: 112px;
  margin-left: 121px;
}
.main--why .why--container .container--images .images--img2 {
  margin-left: 74px;
  margin-top: 16px;
}
.main--steps {
  background-color: #333333;
  position: relative;
}
.main--steps .steps--line {
  position: absolute;
  z-index: 1;
  margin-left: 21%;
  margin-top: 40px;
}
.main--steps .steps--container {
  padding-top: 107px;
  padding-bottom: 57px;
}
.main--steps .steps--container .container--svg {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main--steps .steps--container .container--svg svg + svg {
  margin-left: 351px;
}
.main--steps .steps--container .container--svg svg {
  position: relative;
  z-index: 2;
}
.main--booknow {
  position: relative;
}
.main--booknow img {
  position: absolute;
  z-index: -1;
}
.main--booknow .booknow--container {
  padding: 220px 0 120px 0;
  margin-left: 300px;
}
.main--booknow .booknow--container .container--card {
  max-width: 648px;
  padding: 44px 32px;
  background: rgba(35, 35, 35, 0.9);
}
.main--booknow .booknow--container .container--card .card--title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.main--booknow .booknow--container .container--card .card--subtitle {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 16px 0;
}
.main--booknow .booknow--container .container--card .card--desc {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.main--booknow .booknow--container .container--card .card--butn .butn--link {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-flex;
  background-color: #5373FD;
  padding: 20px 56px;
  transition: all 0.5s ease;
}
.main--booknow .booknow--container .container--card .card--butn .butn--link:hover {
  background-color: rgb(255, 217, 217);
  color: #5373FD;
}
.main--booknowSec {
  position: relative;
}
.main--booknowSec img {
  position: absolute;
  z-index: -1;
}
.main--booknowSec .booknowSec--container {
  padding: 220px 0 120px 0;
  display: flex;
  justify-content: flex-end;
}
.main--booknowSec .booknowSec--container .container--card {
  max-width: 649px;
  padding: 44px 32px;
  background: rgba(35, 35, 35, 0.9);
}
.main--booknowSec .booknowSec--container .container--card .card--title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.main--booknowSec .booknowSec--container .container--card .card--subtitle {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 16px 0;
}
.main--booknowSec .booknowSec--container .container--card .card--desc {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.main--booknowSec .booknowSec--container .container--card .card--butn .butn--link {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-flex;
  background-color: #5373FD;
  padding: 20px 56px;
  transition: all 0.5s ease;
}
.main--booknowSec .booknowSec--container .container--card .card--butn .butn--link:hover {
  background-color: rgb(255, 217, 217);
  color: #5373FD;
}
.main--tourist {
  position: relative;
  margin-bottom: 80px;
}
.main--tourist .tourist--bc {
  position: absolute;
  z-index: -1;
}
.main--tourist .tourist--container {
  padding-top: 120px;
}
.main--tourist .tourist--container .container--content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main--tourist .tourist--container .container--content .content--title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 60px;
}
.main--tourist .tourist--container .container--content .content--review {
  display: flex;
  flex-direction: row;
  height: 280px;
}
.main--tourist .tourist--container .container--content .content--review .review--text {
  max-width: 885px;
  padding: 45px 60px;
  background-color: #333333;
}
.main--tourist .tourist--container .container--content .content--review .review--text .text--title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.main--tourist .tourist--container .container--content .content--review .review--text .text--desc {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.footer {
  position: relative;
  top: 100px;
  background-color: #000000;
}
.footer svg {
  fill: white;
}
.footer--container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer--container .container--title {
  margin-bottom: 8px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-mask-image: linear-gradient(-75deg, rgba(255, 0, 0, 0.6) 30%, rgb(255, 0, 0) 50%, rgba(255, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  -webkit-animation: wave 2s infinite;
          animation: wave 2s infinite;
}
.footer--container .container--subtitle {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer--container .container--svg svg {
  transition: all 0.5s ease;
}
.footer--container .container--svg svg + svg {
  margin-left: 32px;
}
.footer--container .container--svg svg:hover {
  fill: #5373FD;
}

@media screen and (max-width: 1360px) {
  .main .main--why .why--container {
    margin-bottom: 90px;
  }
  .main .main--why .why--container .container--text .text--desc {
    width: 100%;
  }
  .main .main--steps .steps--line {
    margin-left: 21.7%;
    margin-top: 60px;
  }
  .main .main--steps .steps--container {
    padding-top: 81px;
    padding-bottom: 44px;
  }
  .main .main--steps .steps--container .container--svg svg + svg {
    margin-left: 252px;
  }
  .main .main--booknow .booknow--container {
    margin-left: auto;
  }
  .main .main--booknow .booknow--container .container--card {
    max-width: 558px;
  }
  .main .main--booknowSec .booknowSec--container {
    margin-left: auto;
  }
  .main .main--booknowSec .booknowSec--container .container--card {
    max-width: 558px;
  }
  .main .main--tourist .tourist--container .container--content .content--review .review--text {
    height: 308px;
  }
}
@media screen and (max-width: 1024px) {
  .main--why .why--container {
    margin-bottom: 90px;
  }
  .main--why .why--container .container--images {
    margin-left: 24px;
    margin-right: 0;
  }
  .main--why .why--container .container--images .images--img2 {
    margin-left: 36px;
  }
  .main--steps .steps--line {
    margin-left: 19% !important;
    margin-top: 60px !important;
  }
  .main--steps .container--svg svg + svg {
    margin-left: 192px !important;
  }
  .main--booknow .booknow--container .container--card {
    width: 550px;
  }
  .main--booknowSec .booknowSec--container .container--card {
    width: 550px;
  }
  .main--tourist .tourist--container .container--content .content--review .review--text {
    height: 336px !important;
  }
}/*# sourceMappingURL=app.css.map */