// fonts

$RedHat:'Red Hat Display';
$Lato:'Lato';


//size
$size-12:12px;
$size-16:16px;
$size-19:19px;
$size-26:26px;
$size-28:28px;
$size-30:30px;
$size-32:32px;
$size-48:48px;

//weight

$w-400:400px;
$w-600:600px;


//letter-spacing

$LtSp-005:0.05em;
$LtSp-01:0.1em;
$LtSp-05:0.5em;

//color
$black:#000;
$grey: #565656;
$footer-bcg:#F4F4F4;

//LHeight

$LHght-133:133%;
$LHght-150:150%;
$LHght-166:166%;
$LHght-168:168%;



//widht


$desctop:1170px;
$laptop:768px;
$phone:320px;



