* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
h2{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
text-align: center;
}
header {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 17px 120px;
    margin-bottom: 70px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

nav {
    display: flex;
}

nav img {
    width: 200px;
    height: 32px;
    margin-top: 7px;
    margin-bottom: 7px;
}

nav ul li {
    text-align: center;
    list-style: none;
    display: inline-block;
}

.menu {
    margin: 6px 198px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

nav ul li a:hover {
    color: orange;
}

#in {
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 13px 26px;
    margin-right: 32px;
    color: black;
}

#up {
    border: 1px solid #FF9900;
    background: #FF9900;
    border-radius: 4px;
    color: white;
    padding: 13px 26px;
}

.button {
    margin-top: 10px;
}

.button a {
    text-decoration: none;
}

.leftSide {
    display: inline-block;
    max-width: 500px;
    margin-right: 14px;
    vertical-align: middle;
}

.rightSide {
    display: inline-block;
    max-width: 644px;
    vertical-align: middle;
}

.leftSide h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
    margin-top: 70px;
}

.leftSide p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}

.get {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.get {
    width: 180px;
    padding: 13px 43.5px;
    border: 1px solid #FF9900;
    background: #FF9900;
    border-radius: 4px;
    margin-bottom: 97px;

}

.get a {
    color: white;
    text-decoration: none;
}
/* features */

.features{
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.features h2{
    margin-bottom: 50px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.crd-btn{
    background: linear-gradient(179.61deg, rgba(255, 229, 210, 0.629261) 0.33%, rgba(255, 244, 229, 0.0001) 99.67%);
 display: flex;
 flex-direction: column;
 align-items: center;
}
.card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px
}
.item{
    max-width: 270px;
}
.item h3{
    font-weight: 600;
font-size: 22px;
line-height: 27px;
margin-bottom: 13px;
}

.butn a{
    text-decoration: none;
}
/* footter  */
footer h5{
    font-weight: 700;
font-size: 20px;
line-height: 30px;
}
footer a{
    text-decoration: none;
    color: black; 
    margin-bottom: 15px;
}
footer li{
    list-style: none;
}
.f-block{
    display: flex;
    justify-content: space-between;
}
.quick-links,.legal-staff{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.quick-links h5,.legal-staff h5{
margin-bottom: 30px;
font-family: 'Gotham';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
}
.sign-up-btn{
    max-width: 340px;
}

.input{
    border: 0.5px solid grey;
    opacity: 0.33;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}
.butn{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
background-color:#FF9900;
padding: 10px 40px;
max-width: 180px;
}
.butn a{
    color: white;
}



/* FOOOOOOOOOONTSSSSSS */