@mixin font($family,$size,$weight,$letter-sps,$line-height,$color) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letter-sps;
    line-height: $line-height;
    color: $color;
}

@mixin m-bot($m-bot) {
    margin-bottom: $m-bot;
}

@mixin m-top($m-top) {
    margin-top: $m-top;
}

@mixin flex-center {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

@mixin  flex-column {
    display: flex;
    flex-direction: column;
}